body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.logo img {
    width: 128px;
    height: auto; /* this ensures the image retains its aspect ratio */
}

/* Mobile Devices (Small Screens) */
.bird-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
    gap: 10px;
    list-style-type: none;
    padding: 0;
}
/* Tablet (Medium Screens) */
@media (min-width: 600px) {
    .bird-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
}
/* Desktop (Large Screens) */
@media (min-width: 1024px) {
    .bird-grid {
        grid-template-columns: repeat(4, 1fr); /* 4 columns for large screens */
    }
}
/* Large Desktop (Extra Large Screens) */
@media (min-width: 1440px) {
    .bird-grid {
        grid-template-columns: repeat(6, 1fr); /* 6 columns for very wide screens */
    }
}

.bird-grid li {
    aspect-ratio: 1; /* Ensures width:height ratio is 1:1 */
    display: flex; /* This will make sure the anchor tag stretches across the li */
}

.bird-grid li::before {
    content: "";
    display: block;
    padding-top: 100%; /* Creates a square based on width */
}

.bird-grid a {
    display: block; /* Fills the entire li */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s; /* Transition effect for smoother color change */
}

.bird-grid a:hover {
    background-color: #e0e0e0;
}

a {
    text-decoration: none;
    color: #007bff;
}

.prompt {
    font-size: 18px;
    margin-bottom: 20px;
}

#bird-title {
    text-transform: capitalize;
}

.bird-info {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.bird-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.bird-details img {
    max-width: 40%; /* adjust this value if you need */
/*     height: 600px; */
    margin-left: 20px; /* spacing between text and image */
    border-radius: 8px;
}

.back-button {
    display: block;
    width: 200px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s;
}

.back-button:hover {
    background-color: #e0e0e0;
}
